<p style="color: green"><%= notice %></p>

<%= render @southrift %>

<div>
  <%= link_to "Edit this southrift", edit_southrift_path(@southrift) %> |
  <%= link_to "Back to southrifts", southrifts_path %>

  <%= button_to "Destroy this southrift", @southrift, method: :delete %>
</div>
